@use'./partials/variables' as *;

body {
    font-family: "Barlow Semi Condensed", sans-serif;
}

a {
    color: $grey;
    text-decoration: none;

    &.selected,
    &:hover {
        color: $white;
    }
}

ul {
    list-style-type: none;
}